---
const PROJECTS = [
    {
        title: 'Spaceship Agency',
        description: `Se trata de un e-commerce de un concesionario de autos de
            alta gama. Allí, podrás encontrar marcas tales como: Audi,
            BMW e incluso la famosa e histórica marca del Cavallino
            Rampante, Ferrari.
            El proyecto cuenta con su base de datos (NoSQL) y todos los productos son consumidos desde alli.
            Las ordenes son guardadas en la base de datos y, al finalizar la compra, podrás ver
            tus ordenes.
        `,
        link:'https://spaceship-react.vercel.app/',
        image: '/818shots_so.webp',  
        tags: ['React.js', 'CSS', 'NoSQL', 'Node.js', 'TypeScript']      
    },

    {
        title: 'Mancini perfumes importados',
        description: `Es un proyecto de un e-commerce de perfumes importados,
            donde podrás encontrar perfumes de diferentes aromas, precios y 
            para diferentes ocaciones!.
        `,
        link:'https://mancini-perfumes.vercel.app/',
        image: '/819shots_so.webp',
        tags: ['HTML', 'CSS', 'JavaScript'] 
    },

    {
        title: 'App del clima',
        description: ` Con esta app, podrásver el clima en cualquier parte del
            mundo, así como también la temperatura actual, la
            temperatura máxima, mínima y la sensación térmica.
        `,
        link:'https://app-del-clima-gamma.vercel.app/',
        image: '/850shots_so.webp',
        tags: ['React.js', 'CSS', 'Weather API'] 
    },

    {
        title: 'To do list',
        description: ` Con esta app, podrásver el clima en cualquier parte del
            mundo, así como también la temperatura actual, la
            temperatura máxima, mínima y la sensación térmica.
        `,
        link:'https://app-del-clima-gamma.vercel.app/',
        image: '/395shots_so.webp',
        tags: ['React.js', 'CSS', 'Weather API'] 
    }
]
---

{
    PROJECTS.map(({title, description, link, image, tags}) => (
        <article class="flex flex-col pb-20">
            <h2 class="text-2xl font-semibold text-orange-400 mb-3 text-pretty">{title}</h2>
            <p class="flex text-sm w-[300px] md:w-[700px] mb-2 text-pretty xl:text-lg">{description}</p>
            <ul class="flex gap-x-4 flex-row mb-2 text-pretty flex-wrap">   
                {tags.map(tag =>(
                    <li class="flex text-pretty gap-x-4 flex-row rounded-full border border-white/10 justify-center items-center py-1 px-2 lg:px-4 text-base max-[484px]:text-xs bg-white/10 hover:scale-110 hover:bg-white/20 transition text-white">{tag}</li>
                ))}
            </ul>
            <img src={image} alt={`Captura de pantalla del proyecto: ${title}`} class="rounded-lg w-[650px] mb-5">
            <a href={link} class="flex text-pretty gap-x-4 flex-row rounded-full border border-white/10 justify-center items-center py-1 px-2 lg:px-4 text-base max-[484px]:text-xs bg-orange-600 hover:scale-110 hover:bg-orange-400 transition text-white w-40 font-bold">Ver proyecto</a>
        </article>
    ))
}